<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Wifi</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Wifi</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Wifi</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Wifi</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
