<ion-grid>
  <form [formGroup]="expenseForm" (submit)="onSubmit(expenseForm)">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Naslov</ion-label>
          <ion-input
            type="text"
            inputmode="text"
            clearInput
            name="title"
            formControlName="title"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Cena</ion-label>
          <ion-input
            type="number"
            inputmode="decimal"
            clearInput
            name="amount"
            formControlName="amount"
            required
          >
          </ion-input>
          <span slot="end" class="ion-align-self-end">RSD</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label>Kategorija</ion-label>
          <ion-select
            placeholder="Izaberi jednu"
            mode="ios"
            clearInput
            name="expense-category"
            formControlName="categoryId"
            required
          >
            <ion-select-option
              *ngFor="let category of categories"
              [value]="category.id"
              >{{ category.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Opis</ion-label>
          <ion-textarea
            type="text"
            inputmode="text"
            clearInput
            name="description"
            formControlName="description"
            required
          ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item>
          <ion-label>Datum</ion-label>
          <ion-datetime
            displayFormat="DDDD MMM D, YYYY"
            min="2005"
            name="date"
            formControlName="date"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button [disabled]="expenseForm.invalid" type="submit" expand="block"
          >Dodaj</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
