<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="showMenu">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button *ngIf="showFilter" (click)="presentPopover($event)"
          ><ion-icon name="ellipsis-vertical"></ion-icon
        ></ion-button>
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-buttons>
    </ng-container>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>
