<ion-segment
  (ionChange)="segmentChanged($event)"
  mode="md"
  [(ngModel)]="segment"
>
  <ion-segment-button value="all">
    <ion-label>Sve</ion-label>
  </ion-segment-button>

  <ion-segment-button value="today">
    <ion-label>Danas</ion-label>
  </ion-segment-button>

  <ion-segment-button value="week">
    <ion-label>Nedelja</ion-label>
  </ion-segment-button>

  <ion-segment-button value="month">
    <ion-label>Mesec</ion-label>
  </ion-segment-button>
</ion-segment>
