<ion-content>
  <app-expense-dashboard-chart
    [hasError]="hasError$ | async"
    [dashboard]="dashboard$ | async"
  ></app-expense-dashboard-chart>
  <app-expense-dashboard-budget
    [user]="user$ | async"
    [dashboard]="dashboard$ | async"
    (amount)="amountChanged($event)"
  ></app-expense-dashboard-budget>
</ion-content>
