<ng-container *ngIf="user.amount > 0 && user?.amount - dashboard.totalMonthlyAmount > 0; then nonEmptyBudget"></ng-container>
<ng-container *ngIf="user.amount - dashboard.totalMonthlyAmount <= 0 && user.amount > 0; then budgetFull"></ng-container>
<ng-container *ngIf="user.amount == 0; then emptyBudget"></ng-container>

<ng-template #nonEmptyBudget>
    <h4>{{ dashboard.totalMonthlyAmount | number }} RSD od {{ user?.amount | number }} RSD</h4>
    <h6>{{ user?.amount - dashboard.totalMonthlyAmount | number }} RSD dok ne stignete mesecni limit</h6>
</ng-template>

<ng-template #emptyBudget>
  <ion-item>
      <ion-row fixed>
        <ion-col size="8">
            <ion-label>Mesecni budzet je prazan!</ion-label>
        </ion-col>
        <ion-col size="4">
            <ion-row class="ion-justify-content-center">
                <ion-icon name="add-circle-outline"></ion-icon>
                <ion-label (click)="presentAlertPrompt()">Dodaj</ion-label>
            </ion-row>
        </ion-col>
      </ion-row>
  </ion-item>
</ng-template>

<ng-template #budgetFull>
  <ion-item>
    <ion-label>Mesecni budzet je istrosen!</ion-label>
    <ion-icon name="sad"></ion-icon>
  </ion-item>
</ng-template>