<ion-app>
  <app-header
    *ngIf="title$ | async as title"
    [showMenu]="title !== 'Login'"
    [showFilter]="title === 'Dashboard'"
    [title]="title"
  >
  </app-header>
  <app-sidebar-menu></app-sidebar-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
