<ion-list>
    <ion-item lines="full">
        <h2>{{ user?.username }}</h2>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Tamnna tema
      </ion-label>
      <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleChange($event)" slot="end"></ion-toggle>
    </ion-item>
</ion-list>