<ion-searchbar></ion-searchbar>
<app-expense-segment
  (segmentChange)="segmentChange($event)"
  [segment]="segment"
></app-expense-segment>

<ion-content>
  <app-expense-list
    [expenses]="expenses$ | async"
    [isLoaded]="isLoaded$ | async"
    [hasError]="hasError$ | async"
    (deleteExpenseEmitter)="deleteExpense($event)"
    (skip)="skipItems($event)"
  >
  </app-expense-list>
</ion-content>
