<ng-container
  *ngTemplateOutlet=" !hasError ? dashboardData : dashboardError; context: { $implicit: dashboard }"
></ng-container>
<ng-template #dashboardData let-dashboard>
  <ion-card>
    <ion-card-content>
      <canvas #myChart width="400" height="400"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-card *ngFor="let category of dashboard.categories">
      <ion-item>
        <ion-label>{{ category.name }}</ion-label>
        <ion-label>
          <ion-badge color="secondary">{{ category.amount }} RSD</ion-badge>
        </ion-label>
        <ion-badge color="primary">{{ category.count }}</ion-badge>
      </ion-item>
    </ion-card>
  </ion-list>
</ng-template>

<ng-template #dashboardError>
  <img src="assets/images/empty-list.png" />
  <span>No dashboard data!</span>
</ng-template>